<aside id="sidebar" class="sidebar">
	<ul class="sidebar-nav" id="sidebar-nav">
		<li class="nav-item">
			<a class="nav-link collapsed" href="@Url.Action("", "Home")">
				<i class="ri-home-2-fill icon-size"></i>
				<span class="menu-head">รายงาน</span>
			</a>
		</li>

		<li class="nav-item">
			<a class="nav-link " data-bs-target="#list-nav" data-bs-toggle="collapse" href="#">
				<i class="ri-file-list-3-fill icon-size"></i><span class="menu-head">รายการ</span><i class="bi bi-chevron-down ms-auto"></i>
			</a>
			<ul id="list-nav" class="nav-content collapse show" data-bs-parent="#sidebar-nav">
				<li>
					<a href="@Url.Action("", "PurchaseRequisition")">
						<i class="ri-dropbox-fill icon-size"></i><span class="menu-item">สร้างใบขอซื้อ</span>
					</a>
				</li>
				@* <li>
				<a href="@Url.Action("", "Order")">
				<i class="ri-inbox-archive-fill icon-size"></i><span class="menu-item">การขนส่งและพัสดุ</span>
				</a>
				</li>
				<li>
				<a href="@Url.Action("", "Shipment")">
				<i class="ri-rocket-fill icon-size"></i><span class="menu-item">การจัดส่ง</span>
				</a>
				</li>
				<li>
				<a href="@Url.Action("", "Payment")">
				<i class="bx bx-money icon-size"></i><span class="menu-item">แจ้งชำระเงิน</span>
				</a>
				</li> *@
			</ul>
		</li>
	</ul>
</aside>