@model Document_Control.Core.pageModels.PurchaseRequisition.ApprovalPR

<div class="card recent-sales overflow-auto" id="componentApproval">
	<div class="card-body">
		<h5 class="card-title">ผู้อนุมัติ <span>| Approver</span></h5>

		<div class="form-group" id="groupupload">
			<input type="button" class="btn btn-sm btn-primary" id="addApproval" value="เพิ่มผู้อนุมัติ" onclick="showSelectApproval();" />

		</div>
		<table class="table table-bordered mt-2">
			<tr>
				<th scope="col">ชื่อ/ตำแหน่ง</th>
@* 				<th class="text-end" scope="col">วงเงิน</th> *@
				<th class="text-center" scope="col">สถานะ</th>
			</tr>
			<tbody>
				@if (Model != null && Model.approvalLists != null && Model.approvalLists.Count > 0)
				{
					foreach (var item in Model.approvalLists)
					{


						@if (item.userId != null)
						{
							<tr>
								<td><span class="badge bg-danger me-1 delListApproval" onclick="delListApproval('@item.userId')">ลบ</span>@($"{item.userName} ({item.PositionName})")</td>
							@* 	<td class="text-end">@item.Budget</td> *@
								@if (item.IsApproved)
								{
									<td class="text-center">
										<span class="badge bg-success me-1">อนุมัติแล้ว</span>
									</td>
								}
								else
								{
									<td class="text-center">
										<span class="badge bg-warning me-1">รออนุมัติ</span>
									</td>
								}
							</tr>
						}
						else
						{
							<tr>
								<td><span class="badge bg-info me-1" onclick="showListApproval('@item.PositionId')">แสดง</span>@item.PositionName</td>
							@* 	<td class="text-end">@item.Budget</td> *@
								@if (item.IsApproved)
								{
									<td class="text-center">
										<span class="badge bg-success me-1">อนุมัติแล้ว</span>
									</td>
								}
								else
								{
									<td class="text-center">
										<span class="badge bg-warning me-1">รออนุมัติ</span>
									</td>
								}
							</tr>
						}
					}
				}
				else
				{
					<tr>
						<td colspan="3" class="text-center">ไม่พบข้อมูล</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div> 