@using Document_Control.Core.pageModels.PurchaseRequisition
@model Document_Control.Core.pageModels.PurchaseRequisition.PagePR
@{
	ViewData["Title"] = "PurchaseRequisition";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
	.dashboard .activity .activity-item .activite-label {
		min-width: 0px;
	}

	.custom-file-input {
		display: none;
	}
</style>
<main id="main" class="main">
	<form id="formdata">
		@Html.HiddenFor(x => x.Id)
		@Html.HiddenFor(x => x.OrderDate)
		@Html.HiddenFor(x => x.DocumentCode)
		@Html.HiddenFor(x => x.CreateBy)
		@Html.HiddenFor(x => x.CreateName)
		@Html.HiddenFor(x => x.PositionId)
		@Html.HiddenFor(x => x.PositionName)
		<section class="section dashboard">
			<div class="row">
				<div class="col-lg-8">

					<div class="col-12">
						<div class="card">
							<div class="card-body">
								<h5 class="card-title">ข้อมูล <span>| Request Information</span></h5>
								<div class="row">
									<div class="col-6 mb-1">
										<div class="row">
											<div class="col-2">
												<i class="ri-calendar-todo-fill icon-size"></i>
											</div>
											<div class="col-10">
												<div class="row">
													<div class="col col-12 ga-text-grey ga-text-font-size-1rem "><b>วันที่สร้าง :</b> </div>
													<div class="col col-12 ga-text-lh-10">@Model?.OrderDate?.ToString("dd/MM/yyyy")</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-6 mb-1">
										<div class="row">
											<div class="col-2">
												<i class="ri-article-fill icon-size"></i>
											</div>
											<div class="col-10">
												<div class="row">
													<div class="col col-12 ga-text-grey ga-text-font-size-1rem "><b>เลขที่เอกสาร :</b> </div>
													<div class="col col-12 ga-text-lh-10">@Model?.DocumentCode</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-6 mb-1">
										<div class="row">
											<div class="col-2">
												<i class="ri-file-user-fill icon-size"></i>
											</div>
											<div class="col-10">
												<div class="row">
													<div class="col col-12 ga-text-grey ga-text-font-size-1rem "><b>ชื่อ-นามสกุล :</b> </div>
													<div class="col col-12 ga-text-lh-10">@Model?.CreateName</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-6 mb-1">
										<div class="row">
											<div class="col-2">
												<i class="ri-git-repository-fill icon-size"></i>
											</div>
											<div class="col-10">
												<div class="row">
													<div class="col col-12 ga-text-grey ga-text-font-size-1rem "><b>ตำแหน่ง :</b> </div>
													<div class="col col-12 ga-text-lh-10">@Model?.PositionName</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-12">
						<div class="card">
							<div class="card-body">
								<h5 class="card-title">รายละเอียด <span>/Detail</span></h5>
								<div class="row g-3">
									<div class="col-12">
										<label class="form-label"><b class="text-danger me-1">*</b><b>ความสำคัญ</b></label>
										@Html.DropDownListFor(x => x.PriorityId, Model?.lPriority, "เลือก", new { @class = "form-control" })
									</div>
									<div class="col-12">
										<label class="form-label"><b class="text-danger me-1">*</b><b>หัวเรื่อง</b></label>
										@Html.TextBoxFor(x => x.Subject, new { @class = "form-control" })
									</div>
									<div class="col-12">
										<label class="form-label"><b class="text-danger me-1">*</b><b>งบประมาน</b></label>
										@Html.TextBoxFor(x => x.Budget, new { @class = "form-control", @id = "budgetInput", onchange = "controller.handleBudgetChange()" })
									</div>

									<div class="col-6">
										<label class="form-label"><b class="text-danger me-1">*</b><b>บริษัท</b></label>
										@Html.DropDownListFor(x => x.CompanyId, Model?.lCompany, "เลือก", new { @class = "form-control" })
									</div>
									<div class="col-6">
										<label class="form-label"><b class="text-danger me-1">*</b><b>แผนก</b></label>
										@Html.DropDownListFor(x => x.DivisionId, Model?.lDivision, "เลือก", new { @class = "form-control" })
									</div>
									<div class="col-6">
										<label class="form-label"><b>พนักงาน</b></label>
										@Html.DropDownListFor(x => x.UserId, Model?.lUser, "เลือก", new { @class = "form-control" })
									</div>
									<div class="col-6">
										<label class="form-label"><b class="text-danger me-1">*</b><b>ซัพพลายเออร์</b></label>
										@Html.TextBoxFor(x => x.SupplierName, new { @class = "form-control" })
									</div>
									<div class="col-12">
										<label class="form-label"><b class="text-danger me-1">*</b><b>รายละเอียดเพิ่มเติม</b></label>
										@Html.TextAreaFor(x => x.Description, new { @class = "form-control", rows = 3 })
									</div>
								</div>
							</div>
						</div>
					</div>

					


					<div class="col-12">
						<div class="card recent-sales overflow-auto">
							<div class="card-body">
								<h5 class="card-title">ไฟล์แนบ <span>| Attach Files</span></h5>

								<div class="form-group">
									<label class="btn btn-sm btn-primary" for="fileInput"><i class="ri-file-upload-fill me-1"></i>อัพโหลด</label>
									<input type="file" class="custom-file-input" id="fileInput" onchange="controller.upload();">
								</div>

								@await Html.PartialAsync("_FileComponent", Model?.ApprovalPR)

							</div>
						</div>
					</div>



					@await Html.PartialAsync("_Approval", Model?.ApprovalPR)
					<div class="col-12">
						<div class="card recent-sales overflow-auto">
							<div class="card-body">
								<h5 class="card-title">หมายเหตุ <span>| Reason</span></h5>
								<div class="row g-3">
									<div class="col-12">
										@Html.TextAreaFor(x => x.Reason, new { @class = "form-control", rows = 3 })
									</div>
									@await Component.InvokeAsync("ActionComponent", Model?.Id)
								</div>
							</div>
						</div>
					</div>
					<div class="col-12 mt-4">
						<div class="card top-selling overflow-auto">
							<div class="card-body pb-0">
								<h5 class="card-title">ประวัติ <span>| History</span></h5>
								@await Component.InvokeAsync("HistoryComponent", Model?.Id)
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="card">
						<div class="card-body">

							@await Component.InvokeAsync("TabStatusComponent", Model?.Id)
						</div>
					</div>
				</div>
				<div id="modalContainer">
					@await Html.PartialAsync("_ModalShowAproval", Model?.ModalShowApproval)
				</div>
			</div>
		</section>
	</form>
</main>
@section Scripts {
	<script>
		$(document).ready(function () {



























			controller.handleBudgetChange = function () {
				const budgetInput = document.getElementById('budgetInput');
				let value = parseFloat(budgetInput.value).toFixed(2);
				if (!isNaN(value)) {
					budgetInput.value = value;
				} else {
					budgetInput.value = '';
				}
				loadComponent();
			}
			controller.save = function () {
				services.ConfirmAlert("", "", "", "", "", function (result) {
					if (result.isConfirmed) {
						var data = new FormData($('#formdata').get(0));
						services.AjaxPostForm("@Url.Action("save", "PurchaseRequisition")", data, function (response) {
							services.CustomAlert1(response);
						});
					}
				});
			}
			controller.draft = function () {
				services.ConfirmAlert("", "", "", "", "", function (result) {
					if (result.isConfirmed) {
						var data = new FormData($('#formdata').get(0));
						services.AjaxPostForm("@Url.Action("draft", "PurchaseRequisition")", data, function (response) {
							services.CustomAlert1(response);
						});
					}
				});
			}
			controller.approve = function () {
				services.ConfirmAlert("", "", "", "", "", function (result) {
					if (result.isConfirmed) {
						var data = new FormData($('#formdata').get(0));
						services.AjaxPostForm("@Url.Action("approve", "PurchaseRequisition")", data, function (response) {
							services.CustomAlert1(response);
						});
					}
				});
			}
			controller.reject = function () {
				services.ConfirmAlert("", "", "", "", "", function (result) {
					if (result.isConfirmed) {
						var data = new FormData($('#formdata').get(0));
						services.AjaxPostForm("@Url.Action("reject", "PurchaseRequisition")", data, function (response) {
							services.CustomAlert1(response);
						});
					}
				});
			}
			controller.cancel = function () {
				services.ConfirmAlert("", "", "", "", "", function (result) {
					if (result.isConfirmed) {
						var data = new FormData($('#formdata').get(0));
						services.AjaxPostForm("@Url.Action("cancel", "PurchaseRequisition")", data, function (response) {
							services.CustomAlert1(response);
						});
					}
				});
			}
			controller.upload = function () {
				var file = $("#fileInput")[0].files[0];
				var formData = new FormData();
				formData.append('file', file);
				services.AjaxPostForm("@Url.Action("upload", "PurchaseRequisition")", formData, function (response) {
					$("#fileInput").val('');
					services.CustomAlert1(response);
					loadComponentDocFile();
				});
			}
			controller.deletefile = function (id) {
				services.ConfirmAlert("", "", "", "", "", function (result) {
					if (result.isConfirmed) {
						$.ajax({
							url: '@Url.Action("deletefile", "PurchaseRequisition")',
							type: 'POST',
							data: { id: id },
							success: function (data) {
								services.CustomAlert1(data);
								loadComponentDocFile();
							}
						});
					}
				});
			}			
		});




		function loadComponent() {
			var budgetValue = document.getElementById('budgetInput').value;
			$.ajax({
				url: '@Url.Action("LoadComponentApproval", "PurchaseRequisition")',
				type: 'GET',
				data: { id: @Model?.Id },
				success: function (data) {
					$('#componentApproval').html(data);
				}
			});
		}
		function loadComponentDocFile() {
			var budgetValue = document.getElementById('budgetInput').value;
			$.ajax({
				url: '@Url.Action("LoadComponentDocFile", "PurchaseRequisition")',
				type: 'GET',
				data: { id: @Model?.Id },
				success: function (data) {
					$('#componentDocfile').html(data);
				}
			});
		}
		function showListApproval(positionId) {
			$.ajax({
				url: '@Url.Action("LoadPositionApproval", "PurchaseRequisition")',
				type: 'GET',
				data: { id: positionId },
				success: function (result) {
					$('#modalContainer').html(result);
					$('#positionApprove').modal('show');
				}
			});
		}
	</script>
}