@model Document_Control.Core.pageModels.ManageUser.PageManageUserSave
<div class="modal fade" id="positionApprove" tabindex="-1" aria-modal="true" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">จัดการ</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="formdata">
                    <div class="row g-3">
                        <div class="col-6">
                            <label class="form-label"><b>รหัส</b></label>
                            @Html.TextBoxFor(x => x.Id, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="row g-3 mt-1">
                        <div class="col-6">
                            <label class="form-label"><b class="text-danger me-1">*</b><b>ชื่อ</b></label>
                            @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                        </div>
                        <div class="col-6">
                            <label class="form-label"><b class="text-danger me-1">*</b><b>หมายเลขโทรศัพท์</b></label>
                            @Html.TextBoxFor(x => x.TelNo, new { @class = "form-control" })
                        </div>
                        <div class="col-6">
                            <label class="form-label"><b class="text-danger me-1">*</b><b>ตำแหน่ง</b></label>
                            @Html.DropDownListFor(x => x.PositionId, Model?.lPosition, "เลือก", new { @class = "form-control" })
                        </div>
                        <div class="col-6">
                            <label class="form-label"><b class="text-danger me-1">*</b><b>สิทธิ์การใช้งาน</b></label>
                            @Html.DropDownListFor(x => x.RoleId, Model?.lRole, "เลือก", new { @class = "form-control" })
                        </div>
                        <div class="col-6">
                            <label class="form-label"><b class="text-danger me-1">*</b><b>ชื่อผู้ใช้งาน</b></label>
                            @Html.TextBoxFor(x => x.UserName, new { @class = "form-control" })
                        </div>
                        <div class="col-6">
                            <label class="form-label"><b>รหัสผ่าน</b></label>
                            <div class="input-group">
                                @Html.TextBoxFor(x => x.Password, new { @class = "form-control" })
                                <span class="input-group-text" onclick="generateRandomPassword(6);">สร้างรหัสใหม่</span>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-12">
                            @Html.CheckBoxFor(x => x.IsApprove, new { @class = "form-check-input" })
                            <label class="form-label">
                                <b>ผู้อนุมัติ</b>
                            </label>

                        </div>
                        <div class="col-12">
                            @Html.CheckBoxFor(x => x.IsManager, new { @class = "form-check-input" })
                            <label class="form-label">
                                <b>ผู้จัดการ</b>
                            </label>
                        </div>
                        <div class="col-12">
                            @Html.CheckBoxFor(x => x.IsActive, new { @class = "form-check-input" })
                            <label class="form-label">
                                <b>เปิดใช้งาน</b>
                            </label>
                        </div>
                        <div class="col-12">
                            <span class="text-danger me-1">หมายเหตุ:รหัสผู้ใช้งานจะไม่แสดงเว้นแต่ผู้ดูแลจะสร้างรหัสผ่านใหม่หรือลืมรหัสผ่าน</span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="controller.update();" class="btn btn-info text-white"><i class="ri-save-3-fill me-1"></i>บันทึก</button>
            </div>
        </div>
    </div>
</div>